Source: ros-indigo-sr-edc-controller-configuration
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/sr_edc_controller_configuration
Standards-Version: 3.9.2

Package: ros-indigo-sr-edc-controller-configuration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-controller-manager, ros-indigo-pr2-mechanism-msgs, ros-indigo-ros-controllers, ros-indigo-sr-ethercat-hand-config
Description: contains the different launch files for Shadow Robot hand controllers. The actual configuration files are stored in the sr_config stack.
